{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
      <h1 class="text-3xl font-bold underline">
    Formulario V2! ✅
  </h1>
       {{ form_start(form,{
            'action': 'procesar',
            'method': 'GET',
            'attr': {'novalidate': 'novalidate'}
         }) }}
        
                 
      
        {{ form_errors(form)}}
          <div class="flex justify-content">
            {{ form_row(form.message, {
                'label': 'Comentario o sugerencia',
                'attr' : {'maxlength': 10}
            })}}
          </div> 
           <div class="flex justify-content">

            {{ form_errors(form.email)}}
            

          
          </div> 

           <div class="flex justify-content">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
               {{ form_row(form.save, {
                'label': 'Enviar'
            })}}
            </button>
          </div>


          {{ form_end(form)}}
        
</div>
{% endblock %}
